@import "bootstrap/bootstrap";
@import "solid/solid";
@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
    font-weight: 300;
}

.mobile-row {
    display: inline;
    @media (max-width: @screen-sm-min) {
        .make-row();
    }
}

.boardgame {
    cursor: pointer;
}